<div class="aside">
  <h3>MY ACCOUNT</h3>
  <h5>Payments</h5>
  <ul>
    <li><%= link_to "Deposits", payment_deposits_path %></li>
    <li><%= link_to "Withdrawals", new_withdraw_path %></li>
    <li><%= link_to "Fund Transfer", new_fund_transfer_path %></li>
    <li><%= link_to "Transaction History", payment_history_path %></li>
  </ul>
  <br>
  <h5>Settings</h5>
  <ul>
    <li><%= link_to "My Profile", edit_user_registration_path %></li>
  </ul>
</div>
