<div id="page" class="account-page two-col">
  <div class="container">

    <%= render partial: "partials/settings" %>
    <div class="section">
      <div class="offset">
        <h2>Select a deposit method</h2>
        <div class="methods-holder">
          <a href="<%= payment_new_path %>">
            <%= image_tag "payments/1.png" %>
            <div class="name">Citibank</div>
          </a>
          <a href="<%= payment_new_path %>">
            <%= image_tag "payments/2.png" %>
            <div class="name">Public Bank</div>
          </a>
          <a href="<%= payment_new_path %>">
            <%= image_tag "payments/3.png" %>
            <div class="name">HSBC</div>
          </a>
          <a href="<%= payment_new_path %>">
            <%= image_tag "payments/4.png" %>
            <div class="name">EON Bank</div>
          </a>
          <a href="<%= payment_new_path %>">
            <%= image_tag "payments/5.png" %>
            <div class="name">CIMB Bank</div>
          </a>
          <a href="<%= payment_new_path %>">
            <%= image_tag "payments/6.png" %>
            <div class="name">Bank Rakyat</div>
          </a>
          <a href="<%= payment_new_path %>">
            <%= image_tag "payments/7.png" %>
            <div class="name">Bank Islam</div>
          </a>
          <a href="<%= payment_new_path %>">
            <%= image_tag "payments/8.png" %>
            <div class="name">AmBank</div>
          </a>
          <a href="<%= payment_new_path %>">
            <%= image_tag "payments/9.png" %>
            <div class="name">Alliance Bank</div>
          </a>
          <a href="<%= payment_new_path %>">
            <%= image_tag "payments/10.png" %>
            <div class="name">Affin Bank</div>
          </a>
          <a href="<%= payment_new_path %>">
            <%= image_tag "payments/11.png" %>
            <div class="name">Maybank</div>
          </a>
          <a href="<%= payment_new_path %>">
            <%= image_tag "payments/12.png" %>
            <div class="name">OCBC Bank</div>
          </a>
          <a href="<%= payment_new_path %>">
            <%= image_tag "payments/13.png" %>
            <div class="name">UOB Bank</div>
          </a>
        </div>
      </div>
    </div><!-- /section -->
    <div class="clearfix"></div>

  </div><!-- /container -->
</div>
