<div id="page" class="session-page two-col">
  <div class="container">

    <%= render partial: "partials/settings" %>
    <div class="section">
      <div class="offset">

    <h2>Withdrawal</h2>

    <%= form_tag('/withdraws') do %>
      <div class="form-group textbox">
        <label>From</label><br>
        <%= select_tag "Title", "<option>ibcbet</option><option>cmdbet</option><option>citibet</option><option>cm839</option><option>pfk188</option><option>naga99</option>".html_safe %>
      </div>
      <div class="form-group textbox">
        <label>Amount</label><br>
        <span style="position: absolute; margin-left: 10px; margin-top: 11px;">RM</span><%= number_field_tag :amount, nil,style: "padding-left: 40px; width: 100px;" %>
      </div>
      <div class="form-group">
        <input type="submit" class="gold-btn" value="SUBMIT PAYMENT" />
      </div>
      <% if params["status"] == "success" %>
        <div class="form-group">
          <%= image_tag "success.png", alt: "", style: "height: 16px;padding: 10px;" %>
          <p style="display: inline-block; vertical-align: middle;">Your payment has been made successfully.</p>
        </div>
      <% end %>
    <% end %>
    <div class="back-row"><%= link_to "« Back", :back %></div>

</div>
</div><!-- /section -->
<div class="clearfix"></div>
</div>
</div>
